:root {
  --primary: hsl(238, 40%, 52%);
  --secondary: hsl(358, 79%, 66%);
  --tertiary: hsl(239, 57%, 85%);
  --accent-1: hsl(357, 100%, 86%);
  --accent-2: hsl(212, 24%, 26%);
  --accent-3: hsl(211, 10%, 45%);
  --accent-4: hsl(223, 19%, 93%);
  --accent-5: hsl(228, 33%, 97%);
  --accent-6: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  background-color: var(--accent-5);
  font-size: 16px;
  padding: 1rem;
  font-family: 'Rubik', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

.comments-container {
  display: grid;
  row-gap: 1rem;
  margin: 1rem 0;
}

h2 {
  font-size: 1.3rem;
  color: var(--accent-2)
}

.single-comment {
  background-color: var(--accent-6);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

.single-comment picture {
  max-width: 40px;
}

.rounded {
  border-radius: .5rem;
  padding: 1rem;
  background-color: var(--accent-6);

}

.created-at,
.single-comment p {
  font-size: 1.1rem;
  color: var(--accent-3);
}

.votes {
  background-color: var(--accent-5);
  border-radius: .75rem;
  display: grid;
  grid-template-columns: 32% 36% 32%;
  justify-items: center;
  width: 110px;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.1rem;
}

.votes span {
  padding: .6rem .3rem;

}

.votes button {
  cursor: pointer;
}

.votes img {
  width: .85rem;
}

.votes button:nth-child(1) img {
  margin-left: .3rem;
}

.votes button:nth-child(2) img {
  margin-right: .3rem;
}

.replies {
  display: grid;
  row-gap: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  border-left: 1px solid var(--tertiary);
}

.reply-btn {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: right;
  flex: 1 1 50%;
}

.reply-btn img {
  width: 1rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

textarea {
  grid-column: 1/-1;
  padding: 1rem;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  border-radius: .3rem;
  border: 1px solid var(--accent-4);
  color: var(--secondary);

}

.send {
  grid-column: 2/3;
  border: none;
}

form picture {
  grid-column: 1/2;
  grid-row: 2/3;
  align-self: center;
  justify-self: flex-start;
}